doctype html
html(lang='tr')
  head
    title Renal Dose || Hakkında
    include ../includes/head.pug
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.default-color.fixed-top.scrolling-navbar
        .container
          a.navbar-brand(href='/tr')
            strong PR
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-7', aria-controls='navbarSupportedContent-7', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent-7.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/tr')
                  | Anasayfa
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='calculator') Hesaplayıcı
              li.nav-item
                a.nav-link(href='data_table') Veri Tablosu
              li.nav-item.active
                a.nav-link(href='about') Hakkında
            ul.navbar-nav
              li.nav-item.dropdown.my-2
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle.waves-effect.waves-light(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Language
                .dropdown-menu.dropdown-info(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item.waves-effect.waves-light.p-1(onclick="window.location.href = '/en/about';")
                    img(src='../img/english-language.png', width='30', height='30').ml-1
                    |  English
                  a.dropdown-item.waves-effect.waves-light.p-1(onclick="window.location.href = '/tr/about';")
                    img(src='../img/turkey.png', width='30', height='30').ml-1
                    |  Türkçe           
              button.btn.btn-rounded.btn-indigo.px-4.py-3.rounded-pill.ml-3(onclick="window.location.href = 'calculator#activeSubstance';")
                | Hızlı Başla! 
                i.fas.fa-fast-forward.pl-1
      #core.view(data-spy='core', data-target='#core', style="height: 110vh; background-image: url('../img/about.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;")
        .mask.rgba-black-light.align-items-center.flex-center(style="overflow-y: scroll")
          .container
            .row.mt-3.align-items-center
              .col-12.col-lg-11.mt-3(style='color:white; text-align:justify; line-height: 1.9; font-size: 2vh;')
                p
                br 
                | Bu online hesaplayıcıyı oluşturmak istememizdeki temel amaç, hastanın tedavisi için karar verici ve destek bilgi sağlayıcı sağlık profesyonellerinin hem bilgisayar hem de mobile araçlardan kolaylıkla doğru bilgiye ulaşmasını sağlamaktır.
                br
                |
                br
                | Doz bilgisi sunduğumuz ilaçların çeşitliliği ve farklı diller için sunulabilecek versiyonlar için iletişim ve işbirliği kurmak isteyen değerli meslektaşlarımız ve diğer sağlık profesyonelleri iletişim adresimizden bize ulaşabilirler. Geri bildirimlerinizle gelişmeyi heyecanla bekliyoruz.
                br
                |
                br
                |
                small 
                  b İletişim: 
                  | mail@renaldose.com
              .col-12.mt-5
                img.p-2(src='../img/credits.png' height='162.5' width='300' alt='credits' style='margin: auto; opacity: 0.9;')
              .col-12.col-lg-6.mt-3
      footer.page-footer.font-small.pt-4(style='background-color: #09915d')
        .container-fluid.text-center.text-md-left
          .row
            .col.mt-md-0.mt-3
              p.flex-center.pb-3
                a.fb-ic(href='https://www.facebook.com/renaldose', target='_blank')
                  i.fab.fa-facebook-f.fa-lg.white-text.mr-md-5.mr-3.fa-2x
                a.tw-ic(href='https://www.twitter.com/renal_dose', target='_blank')
                  i.fab.fa-twitter.fa-lg.white-text.mr-md-5.mr-3.fa-2x
                a.ins-ic(href='https://www.instagram.com/renal_dose', target='_blank')
                  i.fab.fa-instagram.fa-lg.white-text.mr-md-5.mr-3.fa-2x  
                a.yt-ic(href='https://www.youtube.com/channel/UC-nMxvcYKp_NPANWe47BBZg', target='_blank')
                  i.fab.fa-youtube.fa-lg.white-text.mr-md-5.mr-3.fa-2x
            .footer-copyright.text-center.py-3(style='width: 100%')
              | Bu site deneyimli sağlık profesyonellerince titizlikle hazırlanmıştır 
              br
              | Bütün sonuçlar referansları ile sunulmuş olsa da asla doktorunuzun veya eczacınızın tavsiyesinin yerini tutamaz
  script.
    // Animations init
    new WOW().init();