doctype html
html(lang='tr')
  head
    title Renal Dose || İletişim
    include ../includes/head.pug
  body
  // modify this form HTML and place wherever you want your form
  form#my-form.border.border-light.p-5(action='https://formspree.io/xjvggayj', method='POST')
    .text-center
      img(src='../img/logo_transparent.png', style='display: inline-block;', height='200', width='300')
    .form-row.justify-content-lg-center
      #email.col-12.col-lg-8.mt-3
        | E-Posta:
        br
        input#notes.form-control(type='email', name='email')
      #crCly.col-12.col-lg-8.mt-3
        | Kreatinin Klirensi (ml/dakika):
        br
        input#crCl.form-control(type="number" autocomplete='off', readonly='' name='crCl')
      #diay.col-12.col-lg-8.mt-3
        | Hemodiyaliz Durumu:
        br
        input#dia.form-control(type='text', autocomplete='off', readonly='' name='dia')
      #acty.col-12.col-lg-8.mt-3
        | Etkin Madde Adı:
        br
        input#actSubs.form-control(type='text', autocomplete='off', required='', readonly='' name='actSubs')
      #suggesty.col-12.col-lg-8.mt-3
        | Önerilen Doz:
        br
        input#suggest.form-control(type='text', autocomplete='off', readonly='' name='suggest')
      #noty.col-12.col-lg-8.mt-3
        | Mesajınız:
        br
        input#message.form-control(type='text', autocomplete='off' name='message')
    #buttons.row.text-center.justify-content-center.my-5
      .col-12.col-lg-3
        button#my-form-button.btn.btn-cyan.rounded-pill.mt-3(style='padding: 1rem 2rem;')
          | Gönder 
          i.fas.fa-check.pl-1
    input(type='hidden', name='_subject', value='Renal Dose Feedback')
    input(type='hidden', name='_cc', value='mustafaulgey@hotmail.com')
    h4#my-form-status.row.text-center.justify-content-center.my-5(style='color: darkblue')
  // Place this script at the end of the body tag
  script.
    window.addEventListener("DOMContentLoaded", function() {
    // get the form elements defined in your form HTML above
    var form = document.getElementById("my-form");
    var button = document.getElementById("my-form-button");
    var status = document.getElementById("my-form-status");
    // Success and Error functions for after the form is submitted
    function success() {
    form.reset();
    button.style = "display: none ";
    status.innerHTML = "Geri bildiriminiz için teşekkür ederiz. Sizlere kısa süre içinde geri dönüş yapacağız";
    }
    function error() {
    status.innerHTML = "Oops! Bir problem söz konusu. Lütfen önceki sonuç sayfasını kullanarak tekrar deneyiniz";
    }
    // handle the form submission event
    form.addEventListener("submit", function(ev) {
    ev.preventDefault();
    var data = new FormData(form);
    ajax(form.method, form.action, data, success, error);
    });
    });
    // helper function for sending an AJAX request
    function ajax(method, url, data, success, error) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("Accept", "application/json");
    xhr.onreadystatechange = function() {
    if (xhr.readyState !== XMLHttpRequest.DONE) return;
    if (xhr.status === 200) {
    success(xhr.response, xhr.responseType);
    } else {
    error(xhr.status, xhr.response, xhr.responseType);
    }
    };
    xhr.send(data);
    }
  script.
    // Animations init
    new WOW().init();
    $('.toast').toast('show');
  script.
    function createCookie(name,value,days) {
    if (days) {
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
    }
    function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
    }
    function eraseCookie(name) {
    createCookie(name,"",-1);
    }
    let crCl = readCookie('crCl');
    let dia = readCookie('dia');
    let actSubs = readCookie('actSubs');
    let suggest = readCookie('suggestion');
    if (crCl === "undefined") {
    document.getElementById('crCl').value = "";
    } else {
    document.getElementById('crCl').value = crCl;
    }
    document.getElementById('dia').value = dia;
    document.getElementById('actSubs').value = actSubs;
    document.getElementById('suggest').value = suggest;