doctype html
html(lang='tr')
  head
    title Renal Dose || Veri Tablosu
    include ../includes/head.pug
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.default-color.fixed-top.scrolling-navbar
        .container
          a.navbar-brand(href='/tr')
            strong PR
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-7', aria-controls='navbarSupportedContent-7', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent-7.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/tr')
                  | Anasayfa
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='calculator') Hesaplayıcı
              li.nav-item.active
                a.nav-link(href='data_table') Veri Tablosu
              li.nav-item
                a.nav-link(href='about') Hakkında
            ul.navbar-nav   
              button.btn.btn-rounded.btn-indigo.px-4.py-3.rounded-pill.ml-3(onclick="window.location.href = 'calculator#activeSubstance';")
                | Hızlı Başla! 
                i.fas.fa-fast-forward.pl-1
      .view(style="background-image: url('../img/dt.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;")
        .mask.rgba-black-light.align-items-center.flex-center
          .container
            .row
              .col-md-12.mb-4.white-text.text-center
                h1.h1-reponsive.white-text.mb-0.pt-md-5.pt-5.wow.fadeIn.slow
                  strong Veritabanı Listesi
                hr.hr-light.my-4.w-50.wow.fadeIn.slow
                h5.mb-4.white-text.wow.fadeIn.slow
                  strong Veritabanındaki bütün verileri taramak için bu bölümü kullanabilirsiniz
                a.btn.btn-outline-white.wow.shake.smooth-scroll(data-wow-delay='2s', href='#datatable') Göz Gezdir
    #datatable.m-4(data-spy='datatable', data-target='#datatable')
      table#dtBasicExample.table.table-striped.table-bordered.table-sm(cellspacing='0', width='100%')
        thead
          tr
            th.th-sm
              | Etken Madde İsmi
            th.th-sm
              | Normal Doz 
              strong (GFR 90 ve üzeri)
            th.th-sm
              | GFR 
              strong "60 - 89"
              |  Dozu
            th.th-sm
              | GFR 
              strong "45 - 59"
              |  Dozu
            th.th-sm
              | GFR 
              strong "30 - 44"
              |  Dozu
            th.th-sm
              | GFR 
              strong "15 - 29"
              |  Dozu
            th.th-sm
              | GFR 
              strong "15 altı"
              |  Dozu
            th.th-sm
              | Hemodiyaliz Tedavisi Durumunda
        tbody
          tr
            td Bisoprolol fumarat
            td 2,5 mg - 10 mg
            // Normal
            td 2,5 mg - 10 mg
            // 60-89
            td 2,5 mg - 10 mg
            // 45-59
            td 2,5 mg - 10 mg
            // 30-44
            td
              | 2,5 mg - 10 mg (20 - 29)
              br
              | Maksimum 10 mg (15 - 19)
              br
            // 15-29
            td Maksimum 10 mg
            // 15 altı
            td Diyaliz hastalarında bisoprolol kullanımıyla ilgili deneyimler sınırlı olmasına rağmen doz rejiminin değiştirilmesini gerektiren hiçbir kanıt bulunmamaktadır
            // diyaliz
          tr
            td Ertapenem sodyum
            td 1 g
            // Normal
            td 1 g
            // 60-89
            td 1 g
            // 45-59
            td 1 g
            // 30-44
            td 500 mg
            // 15-29
            td 500 mg
            // 15 altı
            td
              | Hemodiyalizden önceki 6 saat içerisinde 500 mg verilmişse eğer, seans sonrası 150 mg ek doz önerilir
              br
              | Diyalizden en az 6 saat önce verildiyse eğer, ek doza gerek yoktur
              br
            // diyaliz
          tr
            td İmipenem / Silastatin sodyum
            td 1 - 4 g
            // Normal
            td KoH*
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td KoH*
            // diyaliz
          tr
            td Meropenem trihidrat
            td 1,5 g - 6 g
            // Normal
            td Hekim tarafından belirlenen normal doz
            // 60-89
            td
              | Normal doz (51-59)
              br
              | 1 g / 12 saat (45-50)
              br
            // 45-59
            td 1 g / 12 saat
            // 30-44
            td
              | 1 g / 12 saat (26-29)
              br
              | 500 g / 12 saat (15-25)
              br
            // 15-29
            td
              | 500 g / 12 saat (10-14)
              br
              | 500 g / 24 saat (10'un altı)
              br
            // 15 altı
            td
              | Enfeksiyonun tipine ve şekline göre belirlenecek normal dozun hemodiyaliz tedavisinden sonra uygulanması önerilir
              br
            // diyaliz
          tr
            td Siprofloksasin laktat
            td 800 - 1200 mg
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td Maksimum 800 mg olacak şekilde düzenlenir
            // 45-59
            td Maksimum 800 mg olacak şekilde düzenlenir
            // 30-44
            td Maksimum 400 mg olacak şekilde düzenlenir
            // 15-29
            td Maksimum 400 mg olacak şekilde düzenlenir
            // 15 altı
            td
              | Diyaliz sonrasındaki diyaliz günlerinde en fazla günlük siprofloksasin intravenöz dozu 400 mg olmalıdır.
            // diyaliz
          tr
            td Levofloksasin
            td 250 mg - 1000 mg
            // Normal
            td KoH*
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td KoH*
            // diyaliz
          tr
            td Daptomisin
            td 4 - 6 mg / kg (24 saatte bir)
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td
              | Hekimin belirlemiş olduğu normal doz
              br
            // 45-59
            td Hekimin belirlemiş olduğu normal doz
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td KoH*
            // diyaliz
          tr
            td Teikoplanin
            td 200 - 800 mg / gün
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td
              | Normal doz / 2 günde bir (veya)
              br
              | Normal dozun yarısı / günde bir kez
              br
            // 45-59
            td
              | Normal doz / 3 günde bir (veya) Normal dozun üçte biri / günde bir kez (30-39)
              br
              | Normal doz / 2 günde bir (veya) Normal dozun yarısı / günde bir kez (40-44)
              br
            // 30-44
            td Normal doz / 3 günde bir (veya) Normal dozun üçte biri / günde bir kez
            // 15-29
            td Normal doz / 3 günde bir (veya) Normal dozun üçte biri / günde bir kez
            // 15 altı
            td Normal doz / 3 günde bir (veya) Normal dozun üçte biri / günde bir kez
            // diyaliz
          tr
            td Vankomisin hidroklorür
            td
              | 500 mg / 6 saat (veya)
              br
              | 1 g / 12 saat
              br
            // Normal
            td KoH*
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td Her 7 günde bir verilen 1 g vankomisin etkili kan düzeyleri oluşturmaktadır
            // diyaliz
          tr
            td Piperasilin sodyum / Tazobaktam sodyum
            td 4,5 g / 6 veya 8 saat
            // Normal
            td
              | 4,5 g / 8 saat (60-80)
              br
              | Hekimin belirlemiş olduğu normal doz (80 üstü)
              br
            // 60-89
            td 4,5 g / 8 saat
            // 45-59
            td 4,5 g / 8 saat
            // 30-44
            td
              | 4,5 g / 12 saat (15-19)
              br
              | 4,5 g / 8 saat (20-29)
              br
            // 15-29
            td 4,5 g / 12 saat
            // 15 altı
            td
              | Maksimum 12 saatte bir 4,5 g. Her bir diyaliz periyodundan sonra 2,25 g takviye dozu uygulanmalıdır
            // diyaliz
          tr
            td Flukonazol
            td 50 mg - 400 mg
            // Normal
            td Önerilen doz yüzdesi = % 100
            // 60-89
            td
              | Önerilen doz yüzdesi = % 50 (45-50)
              br
              | Önerilen doz yüzdesi = %100 (51-59)
              br
            // 45-59
            td Önerilen doz yüzdesi = % 50
            // 30-44
            td Önerilen doz yüzdesi = % 50
            // 15-29
            td Önerilen doz yüzdesi = % 50
            // 15 altı
            td Her hemodiyaliz seansından sonra hekimin belirlemiş olduğu normal doz alınabilir
            // diyaliz
          tr
            td Sefoperazon sodyum / Sulbaktam sodyum
            td 3 g - 12 g (2 etken madde için total doz)
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td Hekimin belirlemiş olduğu normal doz
            // 45-59
            td Hekimin belirlemiş olduğu normal doz
            // 30-44
            td 3 g / 12 saat (2 etken madde için total doz)
            // 15-29
            td 1,5 g / 12 saat (2 etken madde için total doz)
            // 15 altı
            td
              | Hemodiyaliz sırasında sefoperazon serum yarı ömrü hafifçe azalabilir. Bu sebepten dolayı dozlar, diyaliz süresini takip edilecek şekilde ayarlanmalıdır.
            // diyaliz
          tr
            td Kolistimetat sodyum
            td 150.000 IU/kg/gün. Önerilen maksimum günlük doz 14.250.000 IU
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td
              | Hemodiyaliz yapılmayan günlerde günlük toplam 3.150.000 IU olarak 12 saatte bir uygulanır. Diyaliz günlerinde toplam 4.500.000 IU doz ikiye bölünür ve ilk yarısı hemodiyalizin son saatinde, diğer yarısı da bundan 12 saat sonra uygulanır.
            // diyaliz
          tr
            td Tigesiklin
            td 100 mg başlangıç dozundan sonra 12 saatte bir 50 mg
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // diyaliz
          tr
            td Moksifloksasin hidroklorür
            td 400 mg
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // diyaliz
          tr
            td Linezolit
            td 400 - 600 mg / 12 saat
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Hemodiyaliz tedavisi gören hastalarda tedavi, diyaliz işleminden sonra uygulanmalıdır
            // diyaliz
          tr
            td Metronidazol
            td 1 - 1,5 g / gün
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Hemodiyalizden hemen sonra yeniden uygulanmalıdır
            // diyaliz
          tr
            td Perindopril arginin
            td 2,5 mg - 10 mg / gün
            // Normal
            td 5 mg / gün
            // 60-89
            td 2,5 mg / gün
            // 45-59
            td 2,5 mg / gün
            // 30-44
            td 2,5 mg / 2 gün
            // 15-29
            td Diyalizi takiben 2,5 mg
            // 15 altı
            td Diyalizi takiben 2,5 mg
            // diyaliz
          tr
            td Perindopril arginin + İndapamit
            td Günde tek doz
            // Normal
            td Günde tek doz
            // 60-89
            td Serbest kombinasyonun uygun dozajı ile tedavi başlangıcı
            // 45-59
            td Serbest kombinasyonun uygun dozajı ile tedavi başlangıcı
            // 30-44
            td Tedavi kontrendikedir
            // 15-29
            td Tedavi kontrendikedir
            // 15 altı
            td Tedavi kontrendikedir
            // diyaliz
          tr
            td Ramipril
            td 1,25 mg - 10 mg
            // Normal
            td 1,25 mg - 10 mg
            // 60-89
            td
              | 1,25 mg - 10 mg (51-59)
              br
              | 1,25 mg / gün başlangıç. Maksimum 5 mg / gün (45-50)
              br
            // 45-59
            td 1,25 mg / gün başlangıç. Maksimum 5 mg / gün
            // 30-44
            td
              | 1,25 mg / gün başlangıç. Maksimum 5 mg / gün (20-29)
              br
              | Yeterli deneyim bulunmamaktadır (15-20)
              br
            // 15-29
            td Yeterli deneyim bulunmamaktadır
            // 15 altı
            td Yeterli deneyim bulunmamaktadır
            // diyaliz
          tr
            td Ramipril + Hidroklorotiazit
            td 
              | 2,5 mg / 12,5 mg -
              br
              | 10 mg / 25 mg
              br
            // Normal
            td 
              | 2,5 mg / 12,5 mg -
              br
              | 10 mg / 25 mg
              br
            // 60-89
            td
              | 1,25 mg ramipril (başlangıç)
              br
              | 2,5 mg ramipril / 12,5 mg hidroklorotiazid (idame) Günlük maksimum 5 mg ramipril / 25 mg hidroklorotiazit
              br
            // 45-59
            td
              | 1,25 mg ramipril (başlangıç)
              br
              | 2,5 mg ramipril / 12,5 mg hidroklorotiazid (idame) Günlük maksimum 5 mg ramipril / 25 mg hidroklorotiazit
              br
            // 30-44
            td Ağır böbrek yetmezliği olan ve diyaliz uygulanan hastalarda kullanımı kontrendikedir
            // 15-29
            td Ağır böbrek yetmezliği olan ve diyaliz uygulanan hastalarda kullanımı kontrendikedir
            // 15 altı
            td Ağır böbrek yetmezliği olan ve diyaliz uygulanan hastalarda kullanımı kontrendikedir
            // diyaliz
          tr
            td Kaptopril
            td Başlangıç dozu 25-50 mg / gün. Maksimum günlük doz 150 mg
            // Normal
            td Başlangıç dozu 25-50 mg / gün. Maksimum günlük doz 150 mg
            // 60-89
            td Başlangıç dozu 25-50 mg / gün. Maksimum günlük doz 150 mg
            // 45-59
            td
              | Başlangıç dozu 25-50 mg / gün. Maksimum günlük doz 150 mg (40-44)
              br
              | Başlangıç dozu 25 mg / gün. Maksimum günlük doz 100 mg (30-40)
              br
            // 30-44
            td
              | Başlangıç dozu 25 mg / gün. Maksimum günlük doz 100 mg (21-29)
              br
              | Başlangıç dozu 12,5 mg / gün. Maksimum günlük doz 75 mg (15-20)
              br
            // 15-29
            td
              | Başlangıç dozu 12,5 mg / gün. Maksimum günlük doz 75 mg (10-15)
              br
              | Başlangıç dozu 6,25 mg / gün. Maksimum günlük doz 37,5 mg (10'dan düşük)
              br
            // 15 altı
            td Diyaliz sonrasında %20-%50 arasında doz uygulanır veya %25-35 arasındaki oranda ek doz uygulanır
            // diyaliz
          tr
            td Olmesartan medoksomil
            td Başlangıç dozu 10 mg / gün. Maksimum günlük doz 40 mg
            // Normal
            td Başlangıç dozu 10 mg / gün. Maksimum günlük doz 40 mg
            // 60-89
            td Günlük maksimum 20 mg
            // 45-59
            td Günlük maksimum 20 mg
            // 30-44
            td
              | Günlük maksimum 20 mg (20-29)
              br
              | Kullanımı önerilmemektedir (15-19)
              br
            // 15-29
            td Kullanımı önerilmemektedir
            // 15 altı
            td Kullanımı önerilmemektedir
            // diyaliz
          tr
            td Olmesartan medoksomil + Hidroklorotiazit
            td 20 mg / 12,5 mg - 40 mg / 25 mg (günde)
            // Normal
            td 20 mg / 12,5 mg - 40 mg / 25 mg (günde)
            // 60-89
            td 20 mg / 12,5 mg - 40 mg / 25 mg (günde)
            // 45-59
            td 20 mg / 12,5 mg - 40 mg / 25 mg (günde)
            // 30-44
            td Kontrendikedir
            // 15-29
            td Kontrendikedir
            // 15 altı
            td İlgili bir veri yoktur
            // diyaliz
          tr
            td Tramadol hidroklorür
            td Günlük maksimum 400 mg
            // Normal
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 60-89
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 45-59
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 30-44
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 15-29
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 15 altı
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // diyaliz
          tr
            td Parasetamol (IV)
            td Hasta kilosuna göre ayarlanır. Günlük maksimum 4 g
            // Normal
            td Hasta kilosuna göre ayarlanır. Günlük maksimum 4 g
            // 60-89
            td Hasta kilosuna göre ayarlanır. Günlük maksimum 4 g
            // 45-59
            td Hasta kilosuna göre ayarlanır. Günlük maksimum 4 g
            // 30-44
            td Her uygulamanın en az 6 saatlik ara ile yapılması önerilir
            // 15-29
            td Her uygulamanın en az 6 saatlik ara ile yapılması önerilir
            // 15 altı
            td Her uygulamanın en az 6 saatlik ara ile yapılması önerilir
            // diyaliz
          tr
            td Asetazolamit
            td 250 mg - 1000 mg
            // Normal
            td 250 mg - 1000 mg
            // 60-89
            td 
              | 250 mg - 1000 mg (50-59)
              br
              | Doz aralığı 12 saat olarak düzenlenmelidir (45-50)
              br
            // 45-59
            td Doz aralığı 12 saat olarak düzenlenmelidir
            // 30-44
            td Doz aralığı 12 saat olarak düzenlenmelidir
            // 15-29
            td
              | Doz aralığı 12 saat olarak düzenlenmelidir (10-15)
              br
              | Kullanımından kaçınılmalıdır. Etkisi yoktur (10'un altı)
              br
            // 15 altı
            td Orta derecede diyaliz edilebilir (%20-%50) Kullanımından kaçınılmalıdır
            // diyaliz
          tr
            td Spironolakton
            td 250 mg - 1000 mg
            // Normal
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 60-89
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 45-59
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 30-44
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 15-29
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 15 altı
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // diyaliz
          tr
            td Spironolakton + Hidroklorotiazit
            td 50 mg - 400 mg (2 etken madde total)
            // Normal
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 60-89
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 45-59
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 30-44
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 15-29
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 15 altı
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // diyaliz
          tr
            td İndapamit
            td 1,25 mg - 5 mg
            // Normal
            td 1,25 mg - 5 mg
            // 60-89
            td 1,25 mg - 5 mg
            // 45-59
            td 1,25 mg - 5 mg
            // 30-44
            td Tedavi kontrendikedir
            // 15-29
            td Tedavi kontrendikedir
            // 15 altı
            td Tedavi kontrendikedir
            // diyaliz
          tr
            td Deksketoprofen
            td 100 mg - 150 mg (IV)
            // Normal
            td Toplam günlük doz 50 mg'a indirilmelidir
            // 60-89
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // 45-59
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // 30-44
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // 15-29
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // 15 altı
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // diyaliz
          tr
            td Metformin hidroklorür
            td 1000 mg - 3000 mg
            // Normal
            td Toplam maksimum günlük doz (günde 2 ya da 3'e bölünmüş şekilde) 3000 mg
            // 60-89
            td Toplam maksimum günlük doz (günde 2 ya da 3'e bölünmüş şekilde) 2000 mg
            // 45-59
            td Toplam maksimum günlük doz (günde 2 ya da 3'e bölünmüş şekilde) 1000 mg
            // 30-44
            td Tedavi kontrendikedir
            // 15-29
            td Tedavi kontrendikedir
            // 15 altı
            td Tedavi kontrendikedir
            // diyaliz
          tr
            td Akarboz
            td 50 mg - 600 mg
            // Normal
            td 50 mg - 600 mg
            // 60-89
            td 50 mg - 600 mg
            // 45-59
            td 50 mg - 600 mg
            // 30-44
            td
              | 50 mg - 600 mg (25-29)
              br
              | Ciddi böbrek yetmezliğinde kullanılmamalıdır (15-25)
              br
            // 15-29
            td Ciddi böbrek yetmezliğinde kullanılmamalıdır
            // 15 altı
            td Ciddi böbrek yetmezliğinde kullanılmamalıdır
            // diyaliz
          tr
            td Eksenatid
            td 10 mcg - 20 mcg
            // Normal
            td 10 mcg - 20 mcg
            // 60-89
            td
              | 10 mcg - 20 mcg (50-59)
              br
              | 5 mcg'lık formundan 10 mcg'lık formuna dikkatle geçilmelidir (45-50)
              br
            // 45-59
            td 5 mcg'lık formundan 10 mcg'lık formuna dikkatle geçilmelidir
            // 30-44
            td Kullanılması önerilmemektedir
            // 15-29
            td Kullanılması önerilmemektedir
            // 15 altı
            td Kullanılması önerilmemektedir
            // diyaliz
          tr
            td Oseltamivir fosfat
            td 75 mg - 150 mg (yetişkinler)
            // Normal
            td Günde 2 kez 75 mg (profilaksi için kullanımında 1 kez)
            // 60-89
            td Günde 2 kez 30 mg (profilaksi için kullanımında 1 kez)
            // 45-59
            td Günde 2 kez 30 mg (profilaksi için kullanımında 1 kez)
            // 30-44
            td Günde 1 kez 30 mg (profilaksi için kullanımında gün aşırı)
            // 15-29
            td
              | Günde 1 kez 30 mg (profilaksi için kullanımında gün aşırı) (10-15)
              br
              | Veri yoktur, kullanılması önerilmemektedir (10'un altı)
              br
            // 15 altı
            td Her hemodiyaliz seansı sonrası 30 mg (profilaksi için kullanımında her 2. seans sonrası)
            // diyaliz
          tr
            td Asiklovir (IV)
            td
              | 5 - 10 mg/kg (8 saatte bir)
              br
              | 500 mg/m
              sup 2
              |  (CMV profilaksisi)
              br 
            // Normal
            td Normal doz
            // 60-89
            td
              | Normal doz (50-59)
              br
              | Önerilen doz 12 saatte bir verilmelidir (45-50)
              br
            // 45-59
            td Önerilen doz 12 saatte bir verilmelidir
            // 30-44
            td
              | Önerilen doz 12 saatte bir verilmelidir (25-29)
              br
              | Önerilen doz 24 saatte bir verilmelidir (15-25)
              br
            // 15-29
            td
              | Önerilen doz 24 saatte bir verilmelidir (10-15)
              br
              | Önerilen doz yarıya indirilmeli ve 24 saatte bir uygulanmalıdır (10'un altı)
              br
            // 15 altı
            td Önerilen doz yarıya indirilmeli ve 24 saatte bir ve diyaliz sonrası uygulanmalıdır
            // diyaliz
          tr
            td Fenofibrat
            td 160 mg - 267 mg
            // Normal
            td Dozun azaltılması gerekmektedir. Bu nedenle kullanımı önerilmez
            // 60-89
            td Dozun azaltılması gerekmektedir. Bu nedenle kullanımı önerilmez
            // 45-59
            td Dozun azaltılması gerekmektedir. Bu nedenle kullanımı önerilmez
            // 30-44
            td Tedavi kontrendikedir
            // 15-29
            td Tedavi kontrendikedir
            // 15 altı
            td Tedavi kontrendikedir
            // diyaliz
          tr
            td Rosuvastatin kalsiyum
            td 5 mg - 40 mg
            // Normal
            td Normal doz
            // 60-89
            td Başlangıç dozu 5 mg. 40 mg'lik doz kontrendikedir
            // 45-59
            td Başlangıç dozu 5 mg. 40 mg'lik doz kontrendikedir
            // 30-44
            td Tedavi kontrendikedir
            // 15-29
            td Tedavi kontrendikedir
            // 15 altı
            td Tedavi kontrendikedir
            // diyaliz
          tr
            td Zidovudin (IV)
            td 6 - 12 mg/kg
            // Normal
            td Normal doz
            // 60-89
            td Normal doz
            // 45-59
            td Normal doz
            // 30-44
            td Normal doz
            // 15-29
            td
              | Normal doz (10-14)
              br
              | Günde 3-4 kez 1 mg/kg (10 altı)
              br
            // 15 altı
            td 6-8 saatte bir 100 mg
            // diyaliz
          tr
            td Kaspofungin asetat
            td 50 mg - 70 mg
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // diyaliz
          tr
            td Vorikonazol (IV)
            td 6 - 8 mg/kg
            // Normal
            td Normal doz
            // 60-89
            td
              | Normal doz (50-59)
              br
              | Oral tedaviye geçilmesi tavsiye edilir (45-50)
            // 45-59
            td Oral tedaviye geçilmesi tavsiye edilir
            // 30-44
            td Oral tedaviye geçilmesi tavsiye edilir
            // 15-29
            td Oral tedaviye geçilmesi tavsiye edilir
            // 15 altı
            td Oral tedaviye geçilmesi tavsiye edilir
            // diyaliz
          tr
            td Enoksaparin sodyum
            td 2000 IU (total) - 150 IU (kilogram başına)
            // Normal
            td Normal doz
            // 60-89
            td Normal doz
            // 45-59
            td Normal doz
            // 30-44
            td KoH*
            // 15-29
            td Hemodiyaliz dışında son evre renal hastalığı olan kişilerde kullanımı önerilmez
            // 15 altı
            td 100 IU/kg. Yüksek hemoraji riski taşıyan hastalar için, 50 IU/kg’a (ikili vasküler giriş) veya 75 IU/kg’a (tek vasküler giriş) azaltılmalıdır
            // diyaliz
          tr
            td Rivaroksaban
            td 5 mg - 10 mg
            // Normal
            td Normal doz
            // 60-89
            td Normal doz
            // 45-59
            td Normal doz
            // 30-44
            td Normal doz
            // 15-29
            td Kullanımı önerilmemektedir
            // 15 altı
            td Kullanımı önerilmemektedir
            // diyaliz
          tr
            td Anidulafungin
            td 100 mg - 200 mg
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // diyaliz
          tr
            td Pregabalin
            td 150 mg - 600 mg
            // Normal
            td Başlangıç dozu 150 mg, maksimum doz 600 mg. (Rejim: Günde 2 veya 3 kez)
            // 60-89
            td Başlangıç dozu 75 mg, maksimum doz 300 mg. (Rejim: Günde 2 veya 3 kez)
            // 45-59
            td Başlangıç dozu 75 mg, maksimum doz 300 mg. (Rejim: Günde 2 veya 3 kez)
            // 30-44
            td Başlangıç dozu 25-50 mg, maksimum doz 150 mg. (Rejim: Günde 1 veya 2 kez)
            // 15-29
            td Başlangıç dozu 25 mg, maksimum doz 75 mg. (Rejim: Günde 1 kez)
            // 15 altı
            td Günlük doza ek olarak hemodiyaliz sonrası 25 mg - 100 mg'lık tek bir ek doz
            // diyaliz
          tr
            td Gabapentin
            td 900 mg - 3600 mg
            // Normal
            td
              | Günlük doz aralığı: 900 mg - 3.600 mg (≥80)
              br
              | Günlük doz aralığı: 600 mg - 1.800 mg (60-79)
              br
            // 60-89
            td
              | Günlük doz aralığı: 600 mg - 1.800 mg (50-59)
              br
              | Günlük doz aralığı: 300 mg - 900 mg (45-49)
              br
            // 45-59
            td Günlük doz aralığı: 300 mg - 900 mg
            // 30-44
            td Günlük doz aralığı: 150 mg - 600 mg. 150 mg'lık doz tercih edilirse gün aşırı 300 mg uygulanmalıdır
            // 15-29
            td Günlük doz aralığı: 150 mg - 300 mg olup klirens ile orantılı olarak azaltılmalıdır. 150 mg'lık doz tercih edilirse gün aşırı 300 mg uygulanmalıdır
            // 15 altı
            td Günlük doz aralığı: 150 mg - 300 mg. 150 mg'lık doz tercih edilirse gün aşırı 300 mg uygulanmalıdır. Diyaliz sonrası 200-300 mg'lık ek doz önerilir
            // diyaliz
          tr
            td Lityum karbonat
            td 300 mg - 1800 mg
            // Normal
            td Normal doz
            // 60-89
            td
              | Normal doz (51-59)
              br
              | Normal dozun %50 - %75'i (45-50)
              br
            // 45-59
            td Normal dozun %50 - %75'i
            // 30-44
            td Normal dozun %50 - %75'i
            // 15-29
            td
              | Normal dozun %50 - %75'i (10-15)
              br
              | Normal dozun %25 - %50'si (10 altı)
              br
            // 15 altı
            td Diyaliz edilebilir (%50 - %100) Dozun diyaliz seansından sonra alınması tavsiye edilir
            // diyaliz
          tr
            td Pitavastatin kalsiyum
            td 1 mg - 4 mg
            // Normal
            td 4 mg'lık doz yanlızca hasta yakın takip altında ise kullanılabilir
            // 60-89
            td 4 mg'lık doz yanlızca hasta yakın takip altında ise kullanılabilir
            // 45-59
            td 4 mg'lık doz yanlızca hasta yakın takip altında ise kullanılabilir
            // 30-44
            td Ağır böbrek yetmezliği olan hastalarda 4 mg'lık doz tavsiye edilmemektedir
            // 15-29
            td Ağır böbrek yetmezliği olan hastalarda 4 mg'lık doz tavsiye edilmemektedir
            // 15 altı
            td Ağır böbrek yetmezliği olan hastalarda 4 mg'lık doz tavsiye edilmemektedir
            // diyaliz
          tr
            td Paliperidon palmitat
            td 25 mg - 150 mg
            // Normal
            td
              | Normal doz (80-89)
              br
              | İlk gün 100 mg, 1 hafta sonra 75 mg. Aylık idame dozu 50 mg (60-79)
              br
            // 60-89
            td
              | İlk gün 100 mg, 1 hafta sonra 75 mg. Aylık idame dozu 50 mg (50-59)
              br
              | Kullanımı önerilmez (45-49)
              br
            // 45-59
            td Kullanımı önerilmez
            // 30-44
            td Kullanımı önerilmez
            // 15-29
            td Kullanımı önerilmez
            // 15 altı
            td Kullanımı önerilmez
            // diyaliz
          tr
            td Pirasetam
            td 2400 mg - 24.000 mg
            // Normal
            td
              | Genel günlük doz, 2-4 eşit doza bölünerek uygulanır (80-89)
              br
              | Genel günlük dozun 2/3'ü, 2 veya 3 eşit doza bölünerek uygulanır (60-79)
              br
            // 60-89
            td
              | Genel günlük dozun 2/3'ü, 2 veya 3 eşit doza bölünerek uygulanır (50-59)
              br
              | Genel günlük dozun 1/3'ü, 2 eşit doza bölünerek uygulanır (45-49)
              br
            // 45-59
            td Genel günlük dozun 1/3'ü, 2 eşit doza bölünerek uygulanır
            // 30-44
            td Genel günlük dozun 1/6'sı, tek seferde uygulanır
            // 15-29
            td Kullanımı kontrendikedir
            // 15 altı
            td Kullanımı kontrendikedir
            // diyaliz
          tr
            td Duloksetin hidroklorür
            td 30 mg - 120 mg
            // Normal
            td Normal doz
            // 60-89
            td Normal doz
            // 45-59
            td Normal doz
            // 30-44
            td Kullanımı önerilmez
            // 15-29
            td Kullanımı önerilmez
            // 15 altı
            td Kullanımı önerilmez
            // diyaliz
          tr
            td Fosfomisin sodyum
            td 12 g - 24 g
            // Normal
            td
              | Normal doz (81-89)
              br
              | Üst sınıra yakın dozlar tercih edildiğinde dikkatli olunması önerilir (60-80)
            // 60-89
            td Üst sınıra yakın dozlar tercih edildiğinde dikkatli olunması önerilir
            // 45-59
            td
              | Üst sınıra yakın dozlar tercih edildiğinde dikkatli olunması önerilir (41-44)
              br
              | 2 veya 3'e bölünmüş dozlar halinde normal dozun % 70'i. Yükleme dozu maksimum %100 ve 8 g (31-40)
              br
              | 2 veya 3'e bölünmüş dozlar halinde normal dozun % 60'ı. Yükleme dozu maksimum %100 ve 8 g (30)
              br
            // 30-44
            td
              | 2 veya 3'e bölünmüş dozlar halinde normal dozun % 60'ı. Yükleme dozu maksimum %100 ve 8 g (21-29)
              br
              | 2 veya 3'e bölünmüş dozlar halinde normal dozun % 40'ı. Yükleme dozu maksimum %100 ve 8 g (15-20)
            // 15-29
            td
              | 2 veya 3'e bölünmüş dozlar halinde normal dozun % 40'ı. Yükleme dozu maksimum %100 ve 8 g (11-14)
              br
              | 1 veya 2'ye bölünmüş dozlar halinde normal dozun % 20'si. Yükleme dozu maksimum %100 ve 8 g (11 altı)
            // 15 altı
            td Diyaliz seansının sonunda 2 g fosfomisin verilmelidir
            // diyaliz
          tr
            td Gentamisin sülfat
            td 3 mg/kg - 24 mg/kg
            // Normal
            td
              | 8 saatte bir 80 mg (71-89)
              br
              | 12 saatte bir 80 mg (60-70)
              br
            // 60-89
            td 12 saatte bir 80 mg
            // 45-59
            td
              | 12 saatte bir 80 mg (35-44)
              br
              | 18 saatte bir 80 mg (30-34)
            // 30-44
            td
              | 18 saatte bir 80 mg (24-29)
              br
              | 24 saatte bir 80 mg (16-23)
              br
              | 36 saatte bir 80 mg (15)
              br
            // 15-29
            td
              | 36 saatte bir 80 mg (10-14)
              br
              | 48 saatte bir 80 mg (5-9)
              br
              | Doz önerisi bulunmamaktadır (5 altı)
            // 15 altı
            td Böbrek fonksiyonlarına göre değerlendirilmelidir
            // diyaliz
          tr
            td Amikasin sülfat
            td 15 mg/kg - 1500 mg
            // Normal
            td KoH*
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td Böbrek fonksiyonlarına göre değerlendirilmelidir
            // diyaliz
          tr
            td Seftazidim pentahidrat
            td 1 g - 6 g
            // Normal
            td Normal doz
            // 60-89
            td
              | Normal doz (51-59)
              br
              | 1 g yükleme dozunu takiben 12 saatte bir 1 g (45-50)
              br
            // 45-59
            td
              | 1 g yükleme dozunu takiben 12 saatte bir 1 g (31-44)
              br
              | 1 g yükleme dozunu takiben 24 saatte bir 1 g (30)
              br
            // 30-44
            td
              | 1 g yükleme dozunu takiben 24 saatte bir 1 g (16-29)
              br
              | 1 g yükleme dozunu takiben 24 saatte bir 0,5 g (15)
              br
            // 15-29
            td
              | 1 g yükleme dozunu takiben 24 saatte bir 0,5 g (6-14)
              br
              | 1 g yükleme dozunu takiben 48 saatte bir 0,5 g (5 ve altı)
              br
            // 15 altı
            td Hemodiyaliz sonrası serum kreatinine göre hesaplanan doz tekrarı
            // diyaliz
          tr
            td Ampisilin sodyum / Sulbaktam sodyum
            td 1,5 g - 12 g (toplam doz)
            // Normal
            td 6-8 saatte bir 1,5 g - 3 g (toplam doz)
            // 60-89
            td 6-8 saatte bir 1,5 g - 3 g (toplam doz)
            // 45-59
            td 6-8 saatte bir 1,5 g - 3 g (toplam doz)
            // 30-44
            td 12 saatte bir 1,5 g - 3 g (toplam doz)
            // 15-29
            td
              | 24 saatte bir 1,5 g - 3 g (toplam doz) (5-14)
              br
              | Doz önerisi bulunmamaktadır (5 altı)
              br
            // 15 altı
            td Böbrek fonksiyonlarına göre değerlendirilmelidir
            // diyaliz
        tfoot
          tr
            th
              | Etken Madde İsmi
            th
              | Normal Doz 
              strong (GFR 90 ve üzeri)
            th
              | GFR 
              strong "60 - 89"
              |  Dozu
            th
              | GFR 
              strong "45 - 59"
              |  Dozu
            th
              | GFR 
              strong "30 - 44"
              |  Dozu
            th
              | GFR 
              strong "15 - 29"
              |  Dozu
            th
              | GFR 
              strong "15 altı"
              |  Dozu
            th
              | Hemodiyaliz Tedavisi Durumunda
      p.font-italic
        | Türkçe karakter ile başlayan bir arama yapıyorsanız, ilk harfi büyük tercih ediniz. Örn: İmipenem
      p
        strong *KoH
        |  = 
        i Kompleks hesaplama gerektirir
    footer.page-footer.font-small.pt-4(style="background-color: #09915d")
      .container-fluid.text-center.text-md-left
        .row
          .col.mt-md-0.mt-3
            p.flex-center.pb-3
              a.fb-ic(href='https://www.facebook.com/renaldose', target='_blank')
                i.fab.fa-facebook-f.fa-lg.white-text.mr-md-5.mr-3.fa-2x
              a.tw-ic(href='https://www.twitter.com/renal_dose', target='_blank')
                i.fab.fa-twitter.fa-lg.white-text.mr-md-5.mr-3.fa-2x
              a.ins-ic(href='https://www.instagram.com/renal_dose', target='_blank')
                i.fab.fa-instagram.fa-lg.white-text.mr-md-5.mr-3.fa-2x  
              a.yt-ic(href='https://www.youtube.com/channel/UC-nMxvcYKp_NPANWe47BBZg', target='_blank')
                i.fab.fa-youtube.fa-lg.white-text.mr-md-5.mr-3.fa-2x
          .footer-copyright.text-center.py-3(style='width: 100%')
            | Bu site deneyimli sağlık profesyonellerince titizlikle hazırlanmıştır 
            br
            | Bütün sonuçlar referansları ile sunulmuş olsa da asla doktorunuzun veya eczacınızın tavsiyesinin yerini tutamaz
  script.
    // Animations init
    new WOW().init();
    // Datatables show
    $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
    });