doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-144190992-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144190992-1');  
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Renal Dose
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/mdb.min.css', rel='stylesheet')
    link(href='../css/style.css', rel='stylesheet')
    link(href='../css/addons/datatables.min.css', rel='stylesheet')
    link(rel='shortcut icon', href='../img/favicons/favicon.ico')
    link(rel='apple-touch-icon', sizes='57x57', href='../img/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='../img/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='../img/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='../img/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='../img/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='../img/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='../img/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='../img/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='../img/favicons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='../img/favicons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='../img/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../img/favicons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='../img/favicons/favicon-16x16.png')
    link(rel='manifest', href='../img/favicons/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='../img/favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(name='msapplication-config', content='../img/favicons/browserconfig.xml')
    // JQuery
    script(type='text/javascript', src='../js/jquery-3.3.1.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='../js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='../js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='../js/mdb.js')
    // MDBootstrap Datatables
    script(type='text/javascript', src='../js/addons/datatables.min.js')
    // Scroll Stuff
    script.
      let isMobile = /iPhone|iPad|iPod|Android|BlackBerry|Opera Mini|IEMobile|webOS|Windows Phone/i.test(navigator.userAgent);
      if (isMobile) {
      $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 800, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      } // End if
      });
      });
      } else {
      $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 50, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      } // End if
      });
      });
      }
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.default-color.fixed-top.scrolling-navbar
        .container
          a.navbar-brand(href='/')
            strong PR
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-7', aria-controls='navbarSupportedContent-7', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent-7.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/')
                  | Anasayfa
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='calculator') Hesaplayıcı
              li.nav-item.active
                a.nav-link(href='data_table') Veri Tablosu
              li.nav-item
                a.nav-link(href='about') Hakkında
            ul.navbar-nav   
              button.btn.btn-rounded.btn-indigo.px-4.py-3.rounded-pill.ml-3(onclick="window.location.href = 'calculator#activeSubstance';")
                | Hızlı Başla! 
                i.fas.fa-fast-forward.pl-1
      .view(style="background-image: url('../img/dt.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;")
        .mask.rgba-black-light.align-items-center.flex-center
          .container
            .row
              .col-md-12.mb-4.white-text.text-center
                h1.h1-reponsive.white-text.mb-0.pt-md-5.pt-5.wow.fadeIn.slow
                  strong Veritabanı Listesi
                hr.hr-light.my-4.w-50.wow.fadeIn.slow
                h5.mb-4.white-text.wow.fadeIn.slow
                  strong Veritabanındaki bütün verileri taramak için bu bölümü kullanabilirsiniz
                a.btn.btn-outline-white.wow.shake.smooth-scroll(data-wow-delay='2s', href='#datatable') Göz Gezdir
    #datatable.m-4(data-spy='datatable', data-target='#datatable')
      table#dtBasicExample.table.table-striped.table-bordered.table-sm(cellspacing='0', width='100%')
        thead
          tr
            th.th-sm
              | Etken Madde İsmi
            th.th-sm
              | Normal Doz 
              strong (GFR 90 ve üzeri)
            th.th-sm
              | GFR 
              strong "60 - 89"
              |  Dozu
            th.th-sm
              | GFR 
              strong "45 - 59"
              |  Dozu
            th.th-sm
              | GFR 
              strong "30 - 44"
              |  Dozu
            th.th-sm
              | GFR 
              strong "15 - 29"
              |  Dozu
            th.th-sm
              | GFR 
              strong "15 altı"
              |  Dozu
            th.th-sm
              | Hemodiyaliz Tedavisi Durumunda
        tbody
          tr
            td Bisoprolol fumarat
            td 2,5 mg - 10 mg
            // Normal
            td 2,5 mg - 10 mg
            // 60-89
            td 2,5 mg - 10 mg
            // 45-59
            td 2,5 mg - 10 mg
            // 30-44
            td
              | 2,5 mg - 10 mg (20 - 29)
              br
              | Maksimum 10 mg (15 - 19)
              br
            // 15-29
            td Maksimum 10 mg
            // 15 altı
            td Diyaliz hastalarında bisoprolol kullanımıyla ilgili deneyimler sınırlı olmasına rağmen doz rejiminin değiştirilmesini gerektiren hiçbir kanıt bulunmamaktadır
            // diyaliz
          tr
            td Ertapenem sodyum
            td 1 g
            // Normal
            td 1 g
            // 60-89
            td 1 g
            // 45-59
            td 1 g
            // 30-44
            td 500 mg
            // 15-29
            td 500 mg
            // 15 altı
            td
              | Hemodiyalizden önceki 6 saat içerisinde 500 mg verilmişse eğer, seans sonrası 150 mg ek doz önerilir
              br
              | Diyalizden en az 6 saat önce verildiyse eğer, ek doza gerek yoktur
              br
            // diyaliz
          tr
            td İmipenem / Silastatin sodyum
            td 1 - 4 g
            // Normal
            td KoH*
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td KoH*
            // diyaliz
          tr
            td Meropenem trihidrat
            td 1,5 g - 6 g
            // Normal
            td Hekim tarafından belirlenen normal doz
            // 60-89
            td
              | Normal doz (51-59)
              br
              | 1 g / 12 saat (45-50)
              br
            // 45-59
            td 1 g / 12 saat
            // 30-44
            td
              | 1 g / 12 saat (26-29)
              br
              | 500 g / 12 saat (15-25)
              br
            // 15-29
            td
              | 500 g / 12 saat (10-14)
              br
              | 500 g / 24 saat (10'un altı)
              br
            // 15 altı
            td
              | Enfeksiyonun tipine ve şekline göre belirlenecek normal dozun hemodiyaliz tedavisinden sonra uygulanması önerilir
              br
            // diyaliz
          tr
            td Siprofloksasin laktat
            td 800 - 1200 mg
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td Maksimum 800 mg olacak şekilde düzenlenir
            // 45-59
            td Maksimum 800 mg olacak şekilde düzenlenir
            // 30-44
            td Maksimum 400 mg olacak şekilde düzenlenir
            // 15-29
            td Maksimum 400 mg olacak şekilde düzenlenir
            // 15 altı
            td
              | Diyaliz sonrasındaki diyaliz günlerinde en fazla günlük siprofloksasin intravenöz dozu 400 mg olmalıdır.
            // diyaliz
          tr
            td Levofloksasin
            td 250 mg - 1000 mg
            // Normal
            td KoH*
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td KoH*
            // diyaliz
          tr
            td Daptomisin
            td 4 - 6 mg / kg (24 saatte bir)
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td
              | Hekimin belirlemiş olduğu normal doz
              br
            // 45-59
            td Hekimin belirlemiş olduğu normal doz
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td KoH*
            // diyaliz
          tr
            td Teikoplanin
            td 200 - 800 mg / gün
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td
              | Normal doz / 2 günde bir (veya)
              br
              | Normal dozun yarısı / günde bir kez
              br
            // 45-59
            td
              | Normal doz / 3 günde bir (veya) Normal dozun üçte biri / günde bir kez (30-39)
              br
              | Normal doz / 2 günde bir (veya) Normal dozun yarısı / günde bir kez (40-44)
              br
            // 30-44
            td Normal doz / 3 günde bir (veya) Normal dozun üçte biri / günde bir kez
            // 15-29
            td Normal doz / 3 günde bir (veya) Normal dozun üçte biri / günde bir kez
            // 15 altı
            td Normal doz / 3 günde bir (veya) Normal dozun üçte biri / günde bir kez
            // diyaliz
          tr
            td Vankomisin hidroklorür
            td
              | 500 mg / 6 saat (veya)
              br
              | 1 g / 12 saat
              br
            // Normal
            td KoH*
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td Her 7 günde bir verilen 1 g vankomisin etkili kan düzeyleri oluşturmaktadır
            // diyaliz
          tr
            td Piperasilin sodyum / Tazobaktam sodyum
            td 4,5 g / 6 veya 8 saat
            // Normal
            td
              | 4,5 g / 8 saat (60-80)
              br
              | Hekimin belirlemiş olduğu normal doz (80 üstü)
              br
            // 60-89
            td 4,5 g / 8 saat
            // 45-59
            td 4,5 g / 8 saat
            // 30-44
            td
              | 4,5 g / 12 saat (15-19)
              br
              | 4,5 g / 8 saat (20-29)
              br
            // 15-29
            td 4,5 g / 12 saat
            // 15 altı
            td
              | Maksimum 12 saatte bir 4,5 g. Her bir diyaliz periyodundan sonra 2,25 g takviye dozu uygulanmalıdır
            // diyaliz
          tr
            td Flukonazol
            td 50 mg - 400 mg
            // Normal
            td Önerilen doz yüzdesi = % 100
            // 60-89
            td
              | Önerilen doz yüzdesi = % 50 (45-50)
              br
              | Önerilen doz yüzdesi = %100 (51-59)
              br
            // 45-59
            td Önerilen doz yüzdesi = % 50
            // 30-44
            td Önerilen doz yüzdesi = % 50
            // 15-29
            td Önerilen doz yüzdesi = % 50
            // 15 altı
            td Her hemodiyaliz seansından sonra hekimin belirlemiş olduğu normal doz alınabilir
            // diyaliz
          tr
            td Sefoperazon sodyum / Sulbaktam sodyum
            td 3 g - 12 g (2 etken madde için total doz)
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td Hekimin belirlemiş olduğu normal doz
            // 45-59
            td Hekimin belirlemiş olduğu normal doz
            // 30-44
            td 3 g / 12 saat (2 etken madde için total doz)
            // 15-29
            td 1,5 g / 12 saat (2 etken madde için total doz)
            // 15 altı
            td
              | Hemodiyaliz sırasında sefoperazon serum yarı ömrü hafifçe azalabilir. Bu sebepten dolayı dozlar, diyaliz süresini takip edilecek şekilde ayarlanmalıdır.
            // diyaliz
          tr
            td Kolistimetat sodyum
            td 150.000 IU/kg/gün. Önerilen maksimum günlük doz 14.250.000 IU
            // Normal
            td Hekimin belirlemiş olduğu normal doz
            // 60-89
            td KoH*
            // 45-59
            td KoH*
            // 30-44
            td KoH*
            // 15-29
            td KoH*
            // 15 altı
            td
              | Hemodiyaliz yapılmayan günlerde günlük toplam 3.150.000 IU olarak 12 saatte bir uygulanır. Diyaliz günlerinde toplam 4.500.000 IU doz ikiye bölünür ve ilk yarısı hemodiyalizin son saatinde, diğer yarısı da bundan 12 saat sonra uygulanır.
            // diyaliz
          tr
            td Tigesiklin
            td 100 mg başlangıç dozundan sonra 12 saatte bir 50 mg
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // diyaliz
          tr
            td Moksifloksasin hidroklorür
            td 400 mg
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // diyaliz
          tr
            td Linezolit
            td 400 - 600 mg / 12 saat
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Hemodiyaliz tedavisi gören hastalarda tedavi, diyaliz işleminden sonra uygulanmalıdır
            // diyaliz
          tr
            td Metronidazol
            td 1 - 1,5 g / gün
            // Normal
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 60-89
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 45-59
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 30-44
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15-29
            td Bu etken madde için doz ayarlamasına gerek yoktur
            // 15 altı
            td Hemodiyalizden hemen sonra yeniden uygulanmalıdır
            // diyaliz
          tr
            td Perindopril arginin
            td 2,5 mg - 10 mg / gün
            // Normal
            td 5 mg / gün
            // 60-89
            td 2,5 mg / gün
            // 45-59
            td 2,5 mg / gün
            // 30-44
            td 2,5 mg / 2 gün
            // 15-29
            td Diyalizi takiben 2,5 mg
            // 15 altı
            td Diyalizi takiben 2,5 mg
            // diyaliz
          tr
            td Perindopril arginin + İndapamit
            td Günde tek doz
            // Normal
            td Günde tek doz
            // 60-89
            td Serbest kombinasyonun uygun dozajı ile tedavi başlangıcı
            // 45-59
            td Serbest kombinasyonun uygun dozajı ile tedavi başlangıcı
            // 30-44
            td Tedavi kontrendikedir
            // 15-29
            td Tedavi kontrendikedir
            // 15 altı
            td Tedavi kontrendikedir
            // diyaliz
          tr
            td Ramipril
            td 1,25 mg - 10 mg
            // Normal
            td 1,25 mg - 10 mg
            // 60-89
            td
              | 1,25 mg - 10 mg (51-59)
              br
              | 1,25 mg / gün başlangıç. Maksimum 5 mg / gün (45-50)
              br
            // 45-59
            td 1,25 mg / gün başlangıç. Maksimum 5 mg / gün
            // 30-44
            td
              | 1,25 mg / gün başlangıç. Maksimum 5 mg / gün (20-29)
              br
              | Yeterli deneyim bulunmamaktadır (15-20)
              br
            // 15-29
            td Yeterli deneyim bulunmamaktadır
            // 15 altı
            td Yeterli deneyim bulunmamaktadır
            // diyaliz
          tr
            td Ramipril + Hidroklorotiazit
            td 
              | 2,5 mg / 12,5 mg -
              br
              | 10 mg / 25 mg
              br
            // Normal
            td 
              | 2,5 mg / 12,5 mg -
              br
              | 10 mg / 25 mg
              br
            // 60-89
            td
              | 1,25 mg ramipril (başlangıç)
              br
              | 2,5 mg ramipril / 12,5 mg hidroklorotiazid (idame) Günlük maksimum 5 mg ramipril / 25 mg hidroklorotiazit
              br
            // 45-59
            td
              | 1,25 mg ramipril (başlangıç)
              br
              | 2,5 mg ramipril / 12,5 mg hidroklorotiazid (idame) Günlük maksimum 5 mg ramipril / 25 mg hidroklorotiazit
              br
            // 30-44
            td Ağır böbrek yetmezliği olan ve diyaliz uygulanan hastalarda kullanımı kontrendikedir
            // 15-29
            td Ağır böbrek yetmezliği olan ve diyaliz uygulanan hastalarda kullanımı kontrendikedir
            // 15 altı
            td Ağır böbrek yetmezliği olan ve diyaliz uygulanan hastalarda kullanımı kontrendikedir
            // diyaliz
          tr
            td Kaptopril
            td Başlangıç dozu 25-50 mg / gün. Maksimum günlük doz 150 mg
            // Normal
            td Başlangıç dozu 25-50 mg / gün. Maksimum günlük doz 150 mg
            // 60-89
            td Başlangıç dozu 25-50 mg / gün. Maksimum günlük doz 150 mg
            // 45-59
            td
              | Başlangıç dozu 25-50 mg / gün. Maksimum günlük doz 150 mg (40-44)
              br
              | Başlangıç dozu 25 mg / gün. Maksimum günlük doz 100 mg (30-40)
              br
            // 30-44
            td
              | Başlangıç dozu 25 mg / gün. Maksimum günlük doz 100 mg (21-29)
              br
              | Başlangıç dozu 12,5 mg / gün. Maksimum günlük doz 75 mg (15-20)
              br
            // 15-29
            td
              | Başlangıç dozu 12,5 mg / gün. Maksimum günlük doz 75 mg (10-15)
              br
              | Başlangıç dozu 6,25 mg / gün. Maksimum günlük doz 37,5 mg (10'dan düşük)
              br
            // 15 altı
            td Diyaliz sonrasında %20-%50 arasında doz uygulanır veya %25-35 arasındaki oranda ek doz uygulanır
            // diyaliz
          tr
            td Olmesartan medoksomil
            td Başlangıç dozu 10 mg / gün. Maksimum günlük doz 40 mg
            // Normal
            td Başlangıç dozu 10 mg / gün. Maksimum günlük doz 40 mg
            // 60-89
            td Günlük maksimum 20 mg
            // 45-59
            td Günlük maksimum 20 mg
            // 30-44
            td
              | Günlük maksimum 20 mg (20-29)
              br
              | Kullanımı önerilmemektedir (15-19)
              br
            // 15-29
            td Kullanımı önerilmemektedir
            // 15 altı
            td Kullanımı önerilmemektedir
            // diyaliz
          tr
            td Olmesartan medoksomil + Hidroklorotiazit
            td 20 mg / 12,5 mg - 40 mg / 25 mg (günde)
            // Normal
            td 20 mg / 12,5 mg - 40 mg / 25 mg (günde)
            // 60-89
            td 20 mg / 12,5 mg - 40 mg / 25 mg (günde)
            // 45-59
            td 20 mg / 12,5 mg - 40 mg / 25 mg (günde)
            // 30-44
            td Kontrendikedir
            // 15-29
            td Kontrendikedir
            // 15 altı
            td İlgili bir veri yoktur
            // diyaliz
          tr
            td Tramadol hidroklorür
            td Günlük maksimum 400 mg
            // Normal
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 60-89
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 45-59
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 30-44
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 15-29
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // 15 altı
            td Böbrek yetmezliği olan hastalarda hekim hastanın ihtiyaçlarına göre doz aralığının uzatılmasını düşünebilir
            // diyaliz
          tr
            td Parasetamol (IV)
            td Hasta kilosuna göre ayarlanır. Günlük maksimum 4 g
            // Normal
            td Hasta kilosuna göre ayarlanır. Günlük maksimum 4 g
            // 60-89
            td Hasta kilosuna göre ayarlanır. Günlük maksimum 4 g
            // 45-59
            td Hasta kilosuna göre ayarlanır. Günlük maksimum 4 g
            // 30-44
            td Her uygulamanın en az 6 saatlik ara ile yapılması önerilir
            // 15-29
            td Her uygulamanın en az 6 saatlik ara ile yapılması önerilir
            // 15 altı
            td Her uygulamanın en az 6 saatlik ara ile yapılması önerilir
            // diyaliz
          tr
            td Asetazolamit
            td 250 mg - 1000 mg
            // Normal
            td 250 mg - 1000 mg
            // 60-89
            td 
              | 250 mg - 1000 mg (50-59)
              br
              | Doz aralığı 12 saat olarak düzenlenmelidir (45-50)
              br
            // 45-59
            td Doz aralığı 12 saat olarak düzenlenmelidir
            // 30-44
            td Doz aralığı 12 saat olarak düzenlenmelidir
            // 15-29
            td
              | Doz aralığı 12 saat olarak düzenlenmelidir (10-15)
              br
              | Kullanımından kaçınılmalıdır. Etkisi yoktur (10'un altı)
              br
            // 15 altı
            td Orta derecede diyaliz edilebilir (%20-%50) Kullanımından kaçınılmalıdır
            // diyaliz
          tr
            td Spironolakton
            td 250 mg - 1000 mg
            // Normal
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 60-89
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 45-59
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 30-44
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 15-29
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // 15 altı
            td Böbrek yetmezliği söz konusu olduğu durumlarda kullanılmamalıdır
            // diyaliz
          tr
            td Spironolakton + Hidroklorotiazit
            td 50 mg - 400 mg (2 etken madde total)
            // Normal
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 60-89
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 45-59
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 30-44
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 15-29
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // 15 altı
            td Akut renal yetmezlik, böbreklerin atılım mekanizmasında belirgin bozukluk durumunda kullanılmamalıdır
            // diyaliz
          tr
            td İndapamit
            td 1,25 mg - 5 mg
            // Normal
            td 1,25 mg - 5 mg
            // 60-89
            td 1,25 mg - 5 mg
            // 45-59
            td 1,25 mg - 5 mg
            // 30-44
            td Tedavi kontrendikedir
            // 15-29
            td Tedavi kontrendikedir
            // 15 altı
            td Tedavi kontrendikedir
            // diyaliz
          tr
            td Deksketoprofen
            td 100 mg - 150 mg (IV)
            // Normal
            td Toplam günlük doz 50 mg'a indirilmelidir
            // 60-89
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // 45-59
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // 30-44
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // 15-29
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // 15 altı
            td Orta ve ağır böbrek yetmezliği olan hastalarda kullanılmamalıdır
            // diyaliz
        tfoot
          tr
            th
              | Etken Madde İsmi
            th
              | Normal Doz 
              strong (GFR 90 ve üzeri)
            th
              | GFR 
              strong "60 - 89"
              |  Dozu
            th
              | GFR 
              strong "45 - 59"
              |  Dozu
            th
              | GFR 
              strong "30 - 44"
              |  Dozu
            th
              | GFR 
              strong "15 - 29"
              |  Dozu
            th
              | GFR 
              strong "15 altı"
              |  Dozu
            th
              | Hemodiyaliz Tedavisi Durumunda
      p.font-italic
        | Türkçe karakter ile başlayan bir arama yapıyorsanız, ilk harfi büyük tercih ediniz. Örn: İmipenem
      p
        strong *KoH
        |  = 
        i Kompleks hesaplama gerektirir
  script.
    // Animations init
    new WOW().init();
    // Datatables show
    $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
    });