doctype html
html(lang='tr')
  head
    title Renal Dose || Ana Sayfa
    include ../includes/head.pug
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.default-color.fixed-top.scrolling-navbar
        .container
          a.navbar-brand(href='/tr')
            strong RD
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-7', aria-controls='navbarSupportedContent-7', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent-7.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='/tr')
                  | Anasayfa
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='tr/calculator') Hesaplayıcı
              li.nav-item
                a.nav-link(href='tr/data_table') Veri Tablosu
              li.nav-item
                a.nav-link(href='tr/about') Hakkında
            ul.navbar-nav
              li.nav-item.dropdown.my-2
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle.waves-effect.waves-light(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Language
                .dropdown-menu.dropdown-info(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item.waves-effect.waves-light.p-1(onclick="window.location.href = '/';")
                    img(src='../img/english-language.png', width='30', height='30').ml-1
                    |  English
                  a.dropdown-item.waves-effect.waves-light.p-1(onclick="window.location.href = '/tr';")
                    img(src='../img/turkey.png', width='30', height='30').ml-1
                    |  Türkçe            
              button.btn.btn-rounded.btn-indigo.px-4.py-3.rounded-pill.ml-3(onclick="window.location.href = 'tr/calculator#activeSubstance';")
                | Hızlı Başla! 
                i.fas.fa-fast-forward.pl-1
      .view(style="background-image: url('img/main.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;")
        .mask.rgba-black-light.align-items-center.text-center.flex-center.justify-content-center
          .container
            .row.white-text.mb-4.justify-content-center
              h2.col-12.h2-reponsive.white-text.text-uppercase.font-weight-bold.mb-0.pt-md-5.pt-5.wow.fadeInDown(style='letter-spacing: 5px; font-size: 2.2rem;', data-wow-delay='0.3s')
                strong Renal Dose
              hr.col-10.col-lg-12.hr-light.my-4.w-75.wow.fadeInDown(data-wow-delay='0.4s')
              h5.col-12.text-uppercase.mb-4.white-text.wow.fadeInDown(data-wow-delay='0.4s')
                strong İnteraktif Doz Hesaplama Aracı
            .row.white-text.justify-content-center
              a.col-11.col-lg-5.mx-3.mb-3.btn.btn-outline-white.wow.fadeInDown.slow(data-wow-delay='2s', href='#cards') Daha fazla bilgi
              a.col-11.col-lg-5.mx-3.mb-3.btn.btn-outline-white.font-weight-bold.wow.fadeInDown.slower(data-wow-delay='2s', href='tr/calculator') Başla
    #cards.card-deck.m-4(data-spy='cards', data-target='#cards')
      .card.wow.animated.bounceIn.slow
        img.card-img-top(src='img/cards/card-01.jpg', alt='card-01')
        .card-body
          h5.card-title Etken Maddeyi Seçin
          p.card-text(style='text-align: justify;')
            | Veritabanındaki etken maddelerden, hesaplama yapacağınız etken maddeyi seçerek başlayabilirsiniz
      .card.wow.animated.bounceIn.slow.delay-1s
        img.card-img-top(src='img/cards/card-02.jpg', alt='card-02')
        .card-body
          h5.card-title Hastanın Klinik Verilerini Girin
          p.card-text(style='text-align: justify;')
            | Hastanın serum kreatinini hesaplamak için, Cockcroft-Gault veya eGFR formüllerine dayanarak uygun hesaplamayı gerçekleştirebilirsiniz
      .card.wow.animated.bounceIn.slower.delay-2s
        img.card-img-top(src='img/cards/card-03.jpg', alt='card-03')
        .card-body
          h5.card-title Hastanız İçin Uygun Dozu Bulun
          p.card-text(style='text-align: justify;')
            | Seçtiğiniz etken madde ve klinik verilere uygun olacak doz bilgisine ulaşabilirsiniz
    .text-center.mb-4
      button#starty.btn.rounded-pill.btn-primary.flipInX.delay-2s.slower(type='button', onclick="window.location.href = 'tr/calculator';")
        | Başlayalım! 
        i.fas.fa-caret-square-right.pl-1
  footer.page-footer.font-small.pt-4(style='margin-top: 5rem; background-color: #09915d')
    .container-fluid.text-center.text-md-left
      .row
        .col.mt-md-0.mt-3
          p.flex-center.pb-3
            a.fb-ic(href='https://www.facebook.com/renaldose', target='_blank')
              i.fab.fa-facebook-f.fa-lg.white-text.mr-md-5.mr-3.fa-2x
            a.tw-ic(href='https://www.twitter.com/renal_dose', target='_blank')
              i.fab.fa-twitter.fa-lg.white-text.mr-md-5.mr-3.fa-2x
            a.ins-ic(href='https://www.instagram.com/renal_dose', target='_blank')
              i.fab.fa-instagram.fa-lg.white-text.mr-md-5.mr-3.fa-2x  
            a.yt-ic(href='https://www.youtube.com/channel/UC-nMxvcYKp_NPANWe47BBZg', target='_blank')
              i.fab.fa-youtube.fa-lg.white-text.mr-md-5.mr-3.fa-2x
        .footer-copyright.text-center.py-3(style='width: 100%')
          | Bu site deneyimli sağlık profesyonellerince titizlikle hazırlanmıştır 
          br
          | Bütün sonuçlar referansları ile sunulmuş olsa da asla doktorunuzun veya eczacınızın tavsiyesinin yerini tutamaz
  script.
    new WOW().init();
