doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-144190992-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144190992-1');
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Renal Dose
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/mdb.min.css', rel='stylesheet')
    link(href='../css/style.css', rel='stylesheet')
    link(href='../css/addons/datatables.min.css', rel='stylesheet')
    link(rel='shortcut icon', href='../img/favicons/favicon.ico')
    link(rel='apple-touch-icon', sizes='57x57', href='../img/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='../img/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='../img/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='../img/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='../img/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='../img/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='../img/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='../img/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='../img/favicons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='../img/favicons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='../img/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../img/favicons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='../img/favicons/favicon-16x16.png')
    link(rel='manifest', href='../img/favicons/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='../img/favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(name='msapplication-config', content='../img/favicons/browserconfig.xml')
    // JQuery
    script(type='text/javascript', src='../js/jquery-3.3.1.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='../js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='../js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='../js/mdb.js')
    // Scroll Stuff
    script.
      let isMobile = /iPhone|iPad|iPod|Android|BlackBerry|Opera Mini|IEMobile|webOS|Windows Phone/i.test(navigator.userAgent);
      if (isMobile) {
      $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 800, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      } // End if
      });
      });
      } else {
      $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 50, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      } // End if
      });
      });
      }
  body
  // modify this form HTML and place wherever you want your form
  form#my-form.border.border-light.p-5(action='https://formspree.io/xjvggayj', method='POST')
    .text-center
      img(src='../img/logo_transparent.png', style='display: inline-block;', height='200', width='300')
    .form-row.justify-content-lg-center
      #email.col-12.col-lg-8.mt-3
        | E-Mail:
        br
        input#notes.form-control(type='email', name='email')
      #crCly.col-12.col-lg-8.mt-3
        | Creatinine Clearance (ml/min):
        br
        input#crCl.form-control(type="text" autocomplete='off', readonly='' name='crCl')
      #diay.col-12.col-lg-8.mt-3
        | State of Hemodialysis:
        br
        input#dia.form-control(type='text', autocomplete='off', readonly='' name='dia')
      #acty.col-12.col-lg-8.mt-3
        | Active Substance:
        br
        input#actSubs.form-control(type='text', autocomplete='off', required='', readonly='' name='actSubs')
      #suggesty.col-12.col-lg-8.mt-3
        | Suggested Dose:
        br
        input#suggest.form-control(type='text', autocomplete='off', readonly='' name='suggest')
      #noty.col-12.col-lg-8.mt-3
        | Your message:
        br
        input#message.form-control(type='text', autocomplete='off' name='message')
    #buttons.row.text-center.justify-content-center.my-5
      .col-12.col-lg-3
        button#my-form-button.btn.btn-cyan.rounded-pill.mt-3(style='padding: 1rem 2rem;')
          | Submit 
          i.fas.fa-check.pl-1
    input(type='hidden', name='_subject', value='Renal Dose Feedback')
    input(type='hidden', name='_cc', value='mustafaulgey@hotmail.com')
    h4#my-form-status.row.text-center.justify-content-center.my-5(style='color: darkblue')
  // Place this script at the end of the body tag
  script.
    window.addEventListener("DOMContentLoaded", function() {
    // get the form elements defined in your form HTML above
    var form = document.getElementById("my-form");
    var button = document.getElementById("my-form-button");
    var status = document.getElementById("my-form-status");
    // Success and Error functions for after the form is submitted
    function success() {
    form.reset();
    button.style = "display: none ";
    status.innerHTML = "Thank you for your feedback. We'll get back to you shortly";
    }
    function error() {
    status.innerHTML = "Oops! There was a problem. Please try again using the previous result window";
    }
    // handle the form submission event
    form.addEventListener("submit", function(ev) {
    ev.preventDefault();
    var data = new FormData(form);
    ajax(form.method, form.action, data, success, error);
    });
    });
    // helper function for sending an AJAX request
    function ajax(method, url, data, success, error) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("Accept", "application/json");
    xhr.onreadystatechange = function() {
    if (xhr.readyState !== XMLHttpRequest.DONE) return;
    if (xhr.status === 200) {
    success(xhr.response, xhr.responseType);
    } else {
    error(xhr.status, xhr.response, xhr.responseType);
    }
    };
    xhr.send(data);
    }
  script.
    // Animations init
    new WOW().init();
    $('.toast').toast('show');
  script.
    function createCookie(name,value,days) {
    if (days) {
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
    }
    function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
    }
    function eraseCookie(name) {
    createCookie(name,"",-1);
    }
    let crCl = readCookie('crCl');
    let dia = readCookie('dia');
    let actSubs = readCookie('actSubs');
    let suggest = readCookie('suggestion');
    if (crCl === "undefined") {
    document.getElementById('crCl').value = "";
    } else {
    document.getElementById('crCl').value = crCl;
    }
    document.getElementById('dia').value = dia;
    document.getElementById('actSubs').value = actSubs;
    document.getElementById('suggest').value = suggest;