doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Renal Dosing
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/mdb.min.css', rel='stylesheet')
    link(href='../css/style.css', rel='stylesheet')
    link(href='../css/addons/datatables.min.css', rel='stylesheet')
    link(rel='shortcut icon', href='../img/favicons/favicon.ico')
    link(rel='icon', sizes='16x16 32x32 64x64', href='../img/favicons/favicon.ico')
    link(rel='icon', type='image/png', sizes='196x196', href='../img/favicons/favicon-192.png')
    link(rel='icon', type='image/png', sizes='160x160', href='../img/favicons/favicon-160.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../img/favicons/favicon-96.png')
    link(rel='icon', type='image/png', sizes='64x64', href='../img/favicons/favicon-64.png')
    link(rel='icon', type='image/png', sizes='32x32', href='../img/favicons/favicon-32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='../img/favicons/favicon-16.png')
    link(rel='apple-touch-icon', href='../img/favicons/favicon-57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='../img/favicons/favicon-114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='../img/favicons/favicon-72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='../img/favicons/favicon-144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='../img/favicons/favicon-60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='../img/favicons/favicon-120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='../img/favicons/favicon-76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='../img/favicons/favicon-152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='../img/favicons/favicon-180.png')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='../img/favicons/favicon-144.png')
    meta(name='msapplication-config', content='../img/favicons/browserconfig.xml')
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.default-color.fixed-top.scrolling-navbar
        .container
          a.navbar-brand(href='/en')
            strong RD
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-7', aria-controls='navbarSupportedContent-7', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent-7.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/en')
                  | Home
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='calculator') Calculator
              li.nav-item.active
                a.nav-link(href='data_table') Data Table
              li.nav-item
                a.nav-link(href='about') About
            ul.navbar-nav           
              button.btn.btn-rounded.btn-indigo.px-4.py-3.rounded-pill.ml-3(onclick="window.location.href = 'calculator#activeSubstance';")
                | Quick Start 
                i.fas.fa-fast-forward.pl-1
      .view(style="background-image: url('../img/dt.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;")
        .mask.rgba-black-light.align-items-center.flex-center
          .container
            .row
              .col-md-12.mb-4.white-text.text-center
                h1.h1-reponsive.white-text.mb-0.pt-md-5.pt-5.wow.fadeIn.slow
                  strong Database List
                hr.hr-light.my-4.w-50.wow.fadeIn.slow
                h5.mb-4.white-text.wow.fadeIn.slow
                  strong You can use that section to scan all the information in the database
                a.btn.btn-outline-white.wow.shake.smooth-scroll(data-wow-delay='2s', href='#datatable') Browse
    #datatable.m-4(data-spy='datatable', data-target='#datatable')
      table#dtBasicExample.table.table-striped.table-bordered.table-sm(cellspacing='0', width='100%')
        thead
          tr
            th.th-sm
              | Active Substance
            th.th-sm
              | Standard Dose
              strong (GFR 90 and above)
            th.th-sm
              | GFR 
              strong "60 - 89"
              |  Dose
            th.th-sm
              | GFR 
              strong "45 - 59"
              |  Dose
            th.th-sm
              | GFR 
              strong "30 - 44"
              |  Dose
            th.th-sm
              | GFR 
              strong "15 - 29"
              |  Dose
            th.th-sm
              | GFR 
              strong "Below 15"
              |  Dose
            th.th-sm
              | During Hemodialysis Treatment
        tbody
          tr
            td Ertapenem sodium
            td 1 g
            // Normal
            td 1 g
            // 60-89
            td 1 g
            // 45-59
            td 1 g
            // 30-44
            td 500 mg
            // 15-29
            td 500 mg
            // 15 altı
            td
              | If the dose was applied within 6 hours before the hemodialysis, 150 mg extra dose is suggested. 
              br
              | If the dose was applied at least 6 hours before the hemodialysis, extra dose isn't needed.
              br
            // diyaliz
          tr
            td Imipenem / Cilastatin sodium
            td 1 - 4 g
            // Normal
            td Co-Ca*
            // 60-89
            td Co-Ca*
            // 45-59
            td Co-Ca*
            // 30-44
            td Co-Ca*
            // 15-29
            td Co-Ca*
            // 15 altı
            td Co-Ca*
            // diyaliz
          tr
            td Meropenem trihydrate
            td 1.5 g - 6 g
            // Normal
            td 1 g / 8 hours
            // 60-89
            td
              | 1 g / 8 hours (50-59)
              br
              | 1 g / 12 hours (45-49)
              br
            // 45-59
            td 1 g / 12 hours
            // 30-44
            td
              | 1 g / 12 hours (25-29)
              br
              | 500 mg / 12 hours (15-24)
              br
            // 15-29
            td
              | 500 mg / 12 hours (10-14)
              br
              | 500 mg / 24 hours (Below 10)
              br
            // 15 altı
            td
              | The dose dedicated by the doctor is suggested to be applied after the hemodialysis treatment
              br
            // diyaliz
          tr
            td Ciprofloxacin lactate
            td 800 - 1200 mg
            // Normal
            td Normal dose which was dedicated by the physician
            // 60-89
            td Regulated as to be maximum of 800 mg in a day
            // 45-59
            td Regulated as to be maximum of 800 mg in a day
            // 30-44
            td Regulated as to be maximum of 400 mg in a day
            // 15-29
            td Regulated as to be maximum of 400 mg in a day
            // 15 altı
            td
              | Following the dialysis treatment, daily dose for ciprofloxacin must be maximum of 400 mg
            // diyaliz
          tr
            td Levofloxacin
            td 250 mg - 1000 mg
            // Normal
            td Co-Ca*
            // 60-89
            td Co-Ca*
            // 45-59
            td Co-Ca*
            // 30-44
            td Co-Ca*
            // 15-29
            td Co-Ca*
            // 15 altı
            td Co-Ca*
            // diyaliz
          tr
            td Daptomicina
            td 4 - 6 mg / kg (Every 24 hours)
            // Normal
            td Normal dose which was dedicated by the physician
            // 60-89
            td
              | Normal dose which was dedicated by the physician
              br
            // 45-59
            td Normal dose which was dedicated by the physician
            // 30-44
            td Co-Ca*
            // 15-29
            td Co-Ca*
            // 15 altı
            td Co-Ca*
            // diyaliz
          tr
            td Teicoplanin
            td 200, 400 or 800 mg'lık tek doz
            // Normal
            td Normal dose which was dedicated by the physician
            // 60-89
            td
              | Normal dose / Every 2 days (or)
              br
              | Half of the normal dose / Every day
              br
            // 45-59
            td
              | Normal dose / Every 3 days (or) 1/3 of the normal dose / once a day (30-39)
              br
              | Normal dose / Every 2 days (or) Half of the normal dose / once a day (40-44)
              br
            // 30-44
            td Normal dose / Every 3 days (or) 1/3 of the normal dose / once a day
            // 15-29
            td Normal dose / Every 3 days (or) 1/3 of the normal dose / once a day
            // 15 altı
            td Normal dose / Every 3 days (or) 1/3 of the normal dose / once a day
            // diyaliz
          tr
            td Vancomycin hydrochloride
            td 2 g
            // Normal
            td Co-Ca*
            // 60-89
            td Co-Ca*
            // 45-59
            td Co-Ca*
            // 30-44
            td Co-Ca*
            // 15-29
            td Co-Ca*
            // 15 altı
            td 1 g / week
            // diyaliz
          tr
            td Piperacillin sodium / Tazobactam sodium
            td 4.5 g / 6 or 8 hours
            // Normal
            td
              | 4.5 g / 8 hours (60-80)
              br
              | Normal dose which was dedicated by the physician (Above 80)
              br
            // 60-89
            td 4.5 g / 8 hours
            // 45-59
            td 4.5 g / 8 hours
            // 30-44
            td
              | 4.5 g / 12 hours (15-19)
              br
              | 4.5 g / 8 hours (20-29)
              br
            // 15-29
            td 4.5 g / 12 hours
            // 15 altı
            td
              | 4.5 g / 12 hours. Following the hemodialysis period, a supply dose of 2.25 g should be applied
            // diyaliz
          tr
            td Fluconazole
            td 50 mg - 400 mg
            // Normal
            td Suggested percentage of dose = % 100
            // 60-89
            td
              | Suggested percentage of dose = % 50 (45-50)
              br
              | Suggested percentage of dose = %100 (51-59)
              br
            // 45-59
            td Suggested percentage of dose = % 50
            // 30-44
            td Suggested percentage of dose = % 50
            // 15-29
            td Suggested percentage of dose = % 50
            // 15 altı
            td The dose dedicated by the doctor according to indication may be applied following the hemodialysis treatment
            // diyaliz
          tr
            td Cefoperazone sodium / Sulbactam sodium
            td 3 g - 12 g (Total dose for 2 active substances)
            // Normal
            td Normal dose which was dedicated by the physician
            // 60-89
            td Normal dose which was dedicated by the physician
            // 45-59
            td Normal dose which was dedicated by the physician
            // 30-44
            td 3 g / 12 hours (Total dose for 2 active substances)
            // 15-29
            td 1.5 g / 12 hours (Total dose for 2 active substances)
            // 15 altı
            td
              | In the product description, the need for dose adjustment was stated but the information about how to make it is not clarified
            // diyaliz
          tr
            td Colistimethate sodium
            td 150.000 IU/kg/day. Maximum dose suggested for a day: 14.250.000 IU
            // Normal
            td Normal dose which was dedicated by the physician
            // 60-89
            td Co-Ca*
            // 45-59
            td Co-Ca*
            // 30-44
            td Co-Ca*
            // 15-29
            td Co-Ca*
            // 15 altı
            td
              | A total daily dose of 105 mg is given every 12 hours during the period which hemodialysis treatment isn't applied. On hemodialysis treatment days, a total daily dose of 4.500.000 IU (150 mg) is divided into two and first half is applied on the last hour of hemodialysis and the other half is after 12 hours
            // diyaliz
          tr
            td Tigecycline
            td Following the 100 mg of starting dose, 50 mg / 12 hours
            // Normal
            td For this active substance, dose adjustment isn't needed
            // 60-89
            td For this active substance, dose adjustment isn't needed
            // 45-59
            td For this active substance, dose adjustment isn't needed
            // 30-44
            td For this active substance, dose adjustment isn't needed
            // 15-29
            td For this active substance, dose adjustment isn't needed
            // 15 altı
            td For this active substance, dose adjustment isn't needed
            // diyaliz
          tr
            td Moxifloxacin hydrochloride
            td 400 mg
            // Normal
            td For this active substance, dose adjustment isn't needed
            // 60-89
            td For this active substance, dose adjustment isn't needed
            // 45-59
            td For this active substance, dose adjustment isn't needed
            // 30-44
            td For this active substance, dose adjustment isn't needed
            // 15-29
            td For this active substance, dose adjustment isn't needed
            // 15 altı
            td For this active substance, dose adjustment isn't needed
            // diyaliz
          tr
            td Linezolid
            td 400 - 600 mg / 12 hours
            // Normal
            td For this active substance, dose adjustment isn't needed
            // 60-89
            td For this active substance, dose adjustment isn't needed
            // 45-59
            td For this active substance, dose adjustment isn't needed
            // 30-44
            td For this active substance, dose adjustment isn't needed
            // 15-29
            td For this active substance, dose adjustment isn't needed
            // 15 altı
            td For this active substance, dose adjustment isn't needed
            // diyaliz
          tr
            td Metronidazole
            td 1 - 1.5 g / day
            // Normal
            td For this active substance, dose adjustment isn't needed
            // 60-89
            td For this active substance, dose adjustment isn't needed
            // 45-59
            td For this active substance, dose adjustment isn't needed
            // 30-44
            td For this active substance, dose adjustment isn't needed
            // 15-29
            td For this active substance, dose adjustment isn't needed
            // 15 altı
            td Drug should be applied again following the dialysis
            // diyaliz
        tfoot
          tr
            th
              | Active Substance
            th
              | Normal Dose 
              strong (GFR 90 and above)
            th
              | GFR 
              strong "60 - 89"
              |  Dose
            th
              | GFR 
              strong "45 - 59"
              |  Dose
            th
              | GFR 
              strong "30 - 44"
              |  Dose
            th
              | GFR 
              strong "15 - 29"
              |  Dose
            th
              | GFR 
              strong "Below 15"
              |  Dose
            th
              | During Hemodialysis Treatment
      p
        strong *Co-Ca
        |  = 
        i Complex calculation is required
    // JQuery
    script(type='text/javascript', src='../js/jquery-3.3.1.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='../js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='../js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='../js/mdb.js')
    // MDBootstrap Datatables
    script(type='text/javascript', src='../js/addons/datatables.min.js')
    script.
      // Animations init
      new WOW().init();
      // Datatables show
      $(document).ready(function () {
      $('#dtBasicExample').DataTable();
      $('.dataTables_length').addClass('bs-select');
      });
