doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-144190992-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144190992-1');
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Renal Dose
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/mdb.min.css', rel='stylesheet')
    link(href='../css/style.css', rel='stylesheet')
    link(rel='shortcut icon', href='../img/favicons/favicon.ico')
    link(rel='apple-touch-icon', sizes='57x57', href='../img/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='../img/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='../img/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='../img/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='../img/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='../img/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='../img/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='../img/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='../img/favicons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='../img/favicons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='../img/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../img/favicons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='../img/favicons/favicon-16x16.png')
    link(rel='manifest', href='../img/favicons/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='../img/favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(name='msapplication-config', content='../img/favicons/browserconfig.xml')
    // JQuery
    script(type='text/javascript', src='../js/jquery-3.3.1.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='../js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='../js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='../js/mdb.js')
    // Scroll Stuff
    script.
      let isMobile = /iPhone|iPad|iPod|Android|BlackBerry|Opera Mini|IEMobile|webOS|Windows Phone/i.test(navigator.userAgent);
      if (isMobile) {
      $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 800, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      } // End if
      });
      });
      } else {
      $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 50, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      } // End if
      });
      });
      }
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.default-color.fixed-top.scrolling-navbar
        .container
          a.navbar-brand(href='/en')
            strong RD
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-7', aria-controls='navbarSupportedContent-7', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent-7.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='/en')
                  | Home
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/en/calculator') Calculator
              li.nav-item
                a.nav-link(href='/en/data_table') Data Table
              li.nav-item
                a.nav-link(href='/en/about') About
            ul.navbar-nav
              li.nav-item.dropdown.my-2
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle.waves-effect.waves-light(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Language
                .dropdown-menu.dropdown-info.p-0(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item.waves-effect.waves-light(href='#') English
                  a.dropdown-item.waves-effect.waves-light(href='#') Türkçe
              button.btn.btn-rounded.btn-indigo.px-4.py-3.rounded-pill.ml-3(onclick="window.location.href = '/en/calculator#activeSubstance';")
                | Quick Start 
                i.fas.fa-fast-forward.pl-1
      .view(style="background-image: url('../img/main.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;")
        .mask.rgba-black-light.align-items-center.text-center.flex-center.justify-content-center
          .container
            .row.white-text.mb-4.justify-content-center
              h2.col-12.h2-reponsive.white-text.text-uppercase.font-weight-bold.mb-0.pt-md-5.pt-5.wow.fadeInDown(style='letter-spacing: 5px; font-size: 2.2rem;', data-wow-delay='0.3s')
                strong Renal Dose
              hr.col-10.col-lg-12.hr-light.my-4.w-75.wow.fadeInDown(data-wow-delay='0.4s')
              h5.col-12.text-uppercase.mb-4.white-text.wow.fadeInDown(data-wow-delay='0.4s')
                strong Interactive Dose Calculation Tool
            .row.white-text.justify-content-center
              a.col-11.col-lg-5.mx-3.mb-3.btn.btn-outline-white.wow.fadeInDown.slow(data-wow-delay='2s', href='#cards') More Information
              a.col-11.col-lg-5.mx-3.mb-3.btn.btn-outline-white.font-weight-bold.wow.fadeInDown.slower(data-wow-delay='2s', href='/en/calculator') Start
    #cards.card-deck.m-4(data-spy='cards', data-target='#cards')
      .card.wow.animated.bounceIn.slow
        img.card-img-top(src='../img/cards/card-01.jpg', alt='card-01')
        .card-body
          h5.card-title Choose The Active Substance
          p.card-text(style='text-align: justify;')
            | You may pick the active substance that you will work on from the database list
      .card.wow.animated.bounceIn.slow.delay-1s
        img.card-img-top(src='../img/cards/card-02.jpg', alt='card-02')
        .card-body
          h5.card-title Provide The Clinical Values for The Patient
          p.card-text(style='text-align: justify;')
            | You may perform the appropriate calculation based on Cockcroft-Gault or eGFR formulas to obtain the serum creatinine of the patient
      .card.wow.animated.bounceIn.slower.delay-2s
        img.card-img-top(src='../img/cards/card-03.jpg', alt='card-03')
        .card-body
          h5.card-title Find The Accurate Dose for Your Patient
          p.card-text(style='text-align: justify;')
            | You may get the dose information in accordance with the active substance you select and the clinical values you provide
    .text-center.mb-4
      button#starty.btn.rounded-pill.btn-primary.flipInX.delay-2s.slower(type='button', onclick="window.location.href = '/en/calculator';")
        | Let's Start! 
        i.fas.fa-caret-square-right.pl-1
  footer.page-footer.font-small.pt-4(style='margin-top: 5rem; background-color: #09915d')
    .container-fluid.text-center.text-md-left
      .row
        .col.mt-md-0.mt-3
          p.flex-center.pb-3
            <a class="fb-ic", href='https://www.facebook.com/renaldose', target='_blank'>
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="tw-ic" href='https://www.twitter.com/renal_dose', target='_blank'>
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="ins-ic" href='https://www.instagram.com/renal_dose', target='_blank'>
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
        .footer-copyright.text-center.py-3(style='width: 100%')
          | Copyright © 2019-2020 by RenalDose
  script.
    new WOW().init();
