.row.mt-3(style="display: none;")
    .col-12.col-lg-6.mt-2
        .dropdown
        a#dropdownMenu1.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', style='display: block') Select The Active Substance
        #substanceList.dropdown-menu.dropdown-primary
            a.dropdown-item
            | Daptomicina - 
            small Cubicin
            a.dropdown-item
            | Ertapenem sodium - 
            small İnvanz
            a.dropdown-item
            | Fluconazole - 
            small Lumen EF
            a.dropdown-item
            | Imipenem / Cilastatin sodium - 
            small Tienam
            a.dropdown-item
            | Colistimethate sodium - 
            small Colimycin
            a.dropdown-item
            | Levofloxacin - 
            small Tavanic
            a.dropdown-item
            | Linezolid - 
            small Zyvoxid
            a.dropdown-item
            | Meropenem trihydrate - 
            small Meronem
            a.dropdown-item
            | Metronidazole - 
            small Metronidazol
            a.dropdown-item
            | Moxifloxacin hydrochloride - 
            small Avelox
            a.dropdown-item
            | Piperacillin sodium / Tazobactam sodium - 
            small Tazocin EF
            a.dropdown-item
            | Cefoperazone sodium / Sulbactam sodium - 
            small Sulperazon
            a.dropdown-item
            | Ciprofloxacin lactate - 
            small Ciproktan
            a.dropdown-item
            | Teicoplanin - 
            small Targocid
            a.dropdown-item
            | Tigecycline - 
            small Tygacil
            a.dropdown-item
            | Vancomycin hydrochloride - 
            small Vancotek
    .col-12.col-lg-6.mt-2
        .dropdown
        a#dropdownMenu2.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', style='display: block') Cockcroft-Gault Equation
        #methodlist.dropdown-menu.dropdown-info
            a#willDisable.dropdown-item2 Cockcroft-Gault Equation
            a#willDisable2.dropdown-item2 e-GFR Method