<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ProspecTurk Renal</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/mdb.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicons/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="img/favicons/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="img/favicons/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="img/favicons/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="img/favicons/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16.png">
  <link rel="apple-touch-icon" href="img/favicons/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/favicon-76.png">	
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="img/favicons/favicon-144.png">	
  <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark default-color fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html"><strong>PR</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Ana Sayfa<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="calculator.html">Hesaplayıcı</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="data_table.html">Veri Tablosu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Hakında</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <button class="btn btn-rounded btn-indigo px-4 py-3 rounded-pill" onclick="window.location.href = 'calculator.html#activeSubstance';">Hızlı Başla! <i class="fas fa-fast-forward pl-1"></i></button>
          </ul>
        </div>
      </div>
    </nav>

    <div class="view" style="background-image: url('img/main.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-black-light align-items-center text-center flex-center justify-content-center">
        <div class="container">
          <div class="row white-text mb-4 justify-content-center">
            <h2 class="col-12 h2-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" style="letter-spacing: 5px; font-size: 2.2rem;" data-wow-delay="0.3s"><strong>Prospecturk Renal</strong></h2>
            <hr class="col-10 col-lg-12 hr-light my-4 w-75 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="col-12 text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Online Doz Hesaplama Aracı</strong></h5>
          </div>  
          <div class="row white-text justify-content-center"> 
            <a class="col-11 col-lg-5 mx-3 mb-3 btn btn-outline-white wow fadeInDown slow" data-wow-delay="2s" href="#cards">Daha fazla bilgi</a>
            <a class="col-11 col-lg-5 mx-3 mb-3 btn btn-outline-white font-weight-bold wow fadeInDown slower" data-wow-delay="2s" href='calculator.html'>Başla</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card-deck m-4" id="cards" data-spy="cards" data-target="#cards">
    <div class="card wow animated bounceIn slow">
      <img src="img/cards/card-01.jpg" class="card-img-top" alt="card-01">
      <div class="card-body">
        <h5 class="card-title">Etken Maddeyi Seçin</h5>
        <p class="card-text" style="text-align: justify;">Veritabanındaki etken maddelerden, hesaplama yapacağınız etken maddeyi seçerek başlayabilirsiniz</p>
      </div>
    </div>
    <div class="card wow animated bounceIn slow delay-1s">
      <img src="img/cards/card-02.jpg" class="card-img-top" alt="card-02">
      <div class="card-body">
        <h5 class="card-title">Hastanın Klinik Verilerini Girin</h5>
        <p class="card-text" style="text-align: justify;">Hastanın serum kreatinini hesaplamak için, Cockcroft-Gault veya eGFR formüllerine dayanarak uygun hesaplamayı gerçekleştirebilirsiniz</p>
      </div>
    </div>
    <div class="card wow animated bounceIn slower delay-2s">
      <img src="img/cards/card-03.jpg" class="card-img-top" alt="card-03">
      <div class="card-body">
        <h5 class="card-title">Hastanız İçin Uygun Dozu Bulun</h5>
        <p class="card-text" style="text-align: justify;">Seçtiğiniz etken madde ve klinik verilere uygun olacak doz bilgisine ulaşabilirsiniz</p>
      </div>
    </div>
  </div>

  <div class="text-center mb-4">
  <button type="button" id="starty" class="btn rounded-pill btn-primary flipInX delay-2s slower" onclick="window.location.href = 'calculator.html';">Başlayalım! <i class="fas fa-caret-square-right pl-1"></i></button>
  </div>

  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.js"></script>

  <script>
  // Animations init
  new WOW().init();
  </script>
  
</body>
</html>